{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    {%  trans_default_domain "FarpostMapsBundle" %}
    <table class="table table-bordered sonata-ba-list">
        <thead>
            <tr>
                <th>
                    {% trans %}label.graph_import{% endtrans %}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% if processingCnt > 0 %}
                        <a class="btn btn-danger" disabled>Конвертация уже идет ({{ processingCnt }})</a>
                    {% else %}
                        <form action="{{ path('farpost_maps_import_graph') }}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="graph-upload-input">Дамп базы с графом</label>
                                <input class="form-control" id="graph-upload-input" type="file" name="file" />
                            </div>

                            <button type="submit" class="btn btn-success">Отправить на конвертацию</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}